body {
	margin: 0;
}
.canvas {
	width: 1920px;
	height: 1080px;
	/*border: 5px solid red;*/
	outline: solid red;
}
.nameOverlay {
	position: absolute;
}
.nameOverlayBackground {
	position: absolute;
	left: 275px;
	width: 1370px;
	height: 165px;
	display: flex;
}

#emblem {
}
.center {
	left: 731px;
    width: 458px;
    position: absolute;
    align-items: center;
}
.title {
	font-size: 22pt;
    position: absolute;
    width: 400px;
    left: 23px;
    text-align: center;
}
#title {
	width: 374px;
	left: 42px;
}
#subtitle {
	top: 33px;
	width: 341px;
    left: 60px;
    font-size: 21pt;
}
#round {
	top: 66px;
	width: 341px;
    left: 60px;
    font-size: 21pt;
}

.wingContainer {
	overflow: hidden;
}
.wing {
	position: relative;
}
.wingImage {
	position: relative;
}

@font-face {
   font-family: Reznor; 
   src: url('fonts/REZB____.TTF');
}
span {
	color: white;
	z-index: 1;
	font-size: 50pt;
	position: relative;
	font-family: Impact;

	/*position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);*/

	/*width: 239px;*/
}
.textBox {
	position: relative;
	bottom: 165px;
	width: 239px;
	height: 70px;
	margin: 0;
	top: -113px;

	text-align: center;
}
.verticalCenter {
	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
#leftTextBox {
	left: 200px;
}
#rightTextBox {
	left: 240px;
}
#rightWing {
	right: 268px;
}
#leftWing {
	left: 268px;
}

.score {
	top: -75px;
	position: absolute;
}
#leftScore {
	left: 84px;
}
#rightScore {
	left: 565px;
}

.webcamFrame {
	top: 855px;
	position: absolute;
}
#leftWebcamFrame {

}
#rightWebcamFrame {
	left: 1545px;
}